.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}
main {
    display: flex;
    background-color: var(--background);
    flex-grow: 1;
    height: 100vh;
}
@media (min-width: 1440px) {
    .wrapper {
        height: 100vh;
        width: 100vw;

    }
    main {
        display: flex;
        background-color: var(--background);
        flex-grow: 1;
    }
}
@media (pointer: fine) and (max-width: 851px), (max-width: 834px) {
    .wrapper {
        height: unset;
    }
    main {
        flex-direction: column;
        overflow: auto;
        height: unset;
        /*height: 100vh;*/
    }
}


